.App {
  width: 800px;
  margin: 25px auto;
}

.App-header {
  background-color: rgb(32, 119, 6);
  padding: 30px;
  color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.App-content {
  background-color: #999797;
  min-height: 100vh;
  padding: 30px;
  display: flex;
}
