html {
  box-sizing: border-box;
  font-family: -apple-system, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  /* min-height: 100vh; */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}
